label{
	width:100px;
	float:left;
	padding-top:20px;	
}
.form-control{
	width:350px;
	padding:12px 20px;
	margin:8px 0;
	border:1px; solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	display:inline-block;	
}
output{
	height:30px;
	display:block;
	padding-top:20px;
}
.btn{
	width:10%;
	background-color:dark;
	color:white;
	margin:5px 0;
	border:none;
	border-radius:30;
	cursor:pointer;
			}
fieldset{
	border-radius:5px;
	background-color:blue;
	padding:20px;
	margin:auto;
}